*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic Sans MS;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: auto;
  overflow-x: hidden;

}
.container{
  width: 100%;
  height: 100%;
  background: rgba(119, 116, 116, 0.527) url('images/pagef.jpeg') no-repeat center;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
   overflow: hidden;
}
.nav-menu{
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
}
.nav-item{
  margin: 1em;
}
.nav-link{
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding: 0.5em 0.1em;
  text-transform: capitalize;
}
.nav-link:hover{
  width: 100px;
  height: 3px;
  padding: 5px;
  padding: 0.5em 0.5em;
  border-radius: 14px 0;
  background: #2E6739;
  color: #fff;
  transition: .3s ease ;
}
.content{
  width: 100%;
  height: auto;
  padding: 10% 5%;
}
.content h2{
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s ease;
}
span{
  color: #2E6739;
}
.content p {
  font-size: 0.8em;
}
/**** About Section ***/
.Aboutcon{
  width: 100%;
  height: auto;
  margin-top: 2em;
  padding: 15px;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.Aboutcon h2 {
  padding-bottom: 30px;
  text-transform: capitalize;
  color:#2E6739;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 3px;
  cursor: pointer;
  transition: .3s ease;
}
.Aboutcon p {
  font-size: 14px;
  color: #000;
  padding-bottom: 25px;
}
.Aboutcon a{
  padding-bottom: 25px;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  transition: .3s ease;
}
.Aboutcon a:hover{
transform: scale(1.3);
color: #2E6739;
}

.Aboutcon hr {
  margin-top: 30px;
}
/***** shop section ******/
#shop{
  margin-top: 3em;
}
.shop-container{
  width: 100%;
  height: auto;
  display: flex;
  position:relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.shop-head{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}
.shop-head h2{
  width: 100%;
  height:auto;
  font-size: 2em;
  font-weight: lighter;
  color: #2E6739;
  text-transform: uppercase;
  transition: .3s ease;
}

.shop-head p{
  width: 80%;
  height:auto;
  font-size: 1em;
  font-weight: 300;
  text-transform: capitalize;
  color: #000;
}
.shop-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.row2{
  width: 90%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.pro{
  position: relative;
  margin-bottom: 2em;
  box-shadow: 0 0 2.1em rgb(161, 161, 161); 
}
.single-pro{
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.shop-image img{
  width: 50vh;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10; 
  transition: 0.9s;
}
.shop-image{
  position: relative;
}
.shop-con{
  width: 100%;
  height: 100%;
  margin-top: -1em;
  text-align: center;
  padding: 1em 0;
  background-color: #2E6739;
}
.shop-con h2{
  text-transform: capitalize;
  font-size: 1.8em;
  font-weight: lighter;
}
.price p{
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0.7em;
}
.shop-con a{
  text-decoration: none;
  background-color: black;
  border-radius: 2em;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  color: #2E6739;
  font-size: 1.3em;
  box-shadow: 0 0 2.1em rgba(92, 90, 90, 0.623); 
  transition: 0.3s ease;
  text-transform: capitalize;
}
.shop-con a:hover{
  background: white;
  color: #2E6739;
}
.newsletter {
  width: 100%;
margin: 3em 0;
padding: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  justify-content: center;
  text-align: center;
}
.newsletter h3{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}
.newsletter p{
  font-size: 0.9em;
  text-transform: capitalize;
  font-weight: lighter;
}
.newsletter form input:first-child{
  padding: 0.8em 3em;
  border: 1px solid #2E6739;
  outline: none;
  margin-top: 1.5em;
  border-radius: 13px 0;
}

.newsletter form input:last-child{
  margin: 1em;
  margin-left: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  width: 80px;
  height: 35px;
  font-size: 1em;
  border-radius: 13px 0;
  background-color:#2E6739;
  color: white;
  box-shadow: 0px 0px 5px #fff, 0px 0px 10px #CFD6D4;
  
}
#Contact{
  width: 100%;
  height: auto;
  color: white;
  background-color: #2E6739;
}
.contactcon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5em;
}
.h2{
  font-size: 1.5em;
}
.firstlist ul li{
  list-style-type: none;
  font-size: 0.7em;
  line-height: 1.5em;
}
.h3{
  font-size: 1.5em;
}
.secondlist ul li{
  list-style-type: none;
}
.secondlist ul li a{
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  line-height: 2em;
}
.secondlist ul li a:hover{
  color: black;
}
.foot-text{
  padding: 1em 0;
  text-align: center;
}
.foot-text{
  font-size: 0.6em;
  text-transform: capitalize;
  font-weight: lighter;
}

/**MEDIA QUERY***/
@media  screen and (min-width: 668px){
  .nav-link{
    padding: 0.5em 1em;
    font-size: 1.2em;
  }
  
  .content h2{
    font-size: 7em;
   }
   .content p{
    font-size: 1em;
   }
   .Aboutcon h2{
    font-size: 3em;
   }
   .Aboutcon p{
    font-size: 1.3em;
   }
   .Aboutcon a{
    font-size: 1.4em;
   }
   .shop-head h2{
    font-size: 3em;
   }
   .shop-head p{
    font-size: 1.5em;
   }
   .pro{
    margin-left: 1.5em;
   }
   .row2{
    display: flex;
    /* flex-direction: row; */
   }
   .shop-image img{
    width: 50vh;
    height: 250px;
  }
  .newsletter h3{
    font-size: 2.5em;
    text-align: center;
   }
   .newsletter p{
    font-size: 1.5em;
   }
}
@media  screen and (min-width: 992px){
  .nav-link{
    padding: 0.5em 1em;
    font-size: 1.5em;
  }
  
  .content h2{
    font-size: 10em;
   }
   .content p{
    font-size: 2em;
   }
   .Aboutcon h2{
    font-size: 3.3em;
   }
   .Aboutcon a{
    font-size: 1.5em;
   }
   .shopmain h2{
    font-size: 3.5em;
   }
    .pro{
      margin-left: 1.5em;
     }
     .row2{
      display: flex;
      flex-direction: row;
     }
     .shop-image img{
      width: 45vh;
      height: 250px;
    }
   .pro-text{
    width: 65%;
   }
  
   .newsletter h3{
    font-size: 2.5em;
    text-align: center;
   }
   .newsletter p{
    font-size: 1.5em;
   }
}
 